output/
settings/cookie.json
settings/accounts.json
settings/accounts/
settings/cookies/
settings/bought_accounts.json
settings/active_accounts.json
settings/nimbleway_settings.json
settings/nimble_settings.json
settings/
*.log
__pycache__/
*.pyc
.DS_Store 
backup/